# Ignore these files 

*.gignore

# emacs backups
*~

# build output
*.[oa]

# dylib
*.dylib

# mac stuff
.DS_Store

# python cruft
*.pyc

# executables
libSpace/space_unittest
libSpace/mepsilon

# builds
python/Boost/build
python/Manual/build

python/Swig/_space.so
python/Swig/space.py
python/Swig/space_wrap.cxx

